* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f9f9f9;
}

/* HEADER */
header {
    background: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    color: #3e2723;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav a:hover {
    color: #ff9800;
}

/* HERO */
.hero {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url('images/banner.jpg') center/cover no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 20px;
}

.btn {
    padding: 12px 25px;
    background: #ff9800;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #e68900;
}

/* MENU */
#menu {
    padding: 80px 20px;
    text-align: center;
}

#menu h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    background: white;
    width: 260px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0 5px;
}

.card p {
    font-size: 14px;
    margin-bottom: 10px;
}

.price {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff9800;
}

.order-btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 20px;
    background: #3e2723;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
}

.order-btn:hover {
    background: black;
}

/* CONTACT */
#contact {
    background: #3e2723;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}

/* RESPONSIVE */
@media(max-width:768px){
    .hero h1{
        font-size: 28px;
    }
}
